body {  
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
    direction:rtl
}  

.container {  
    width: 80%;  
    margin: auto;  
    overflow: hidden;  
}  

header {  
    background: #35424a;  
    color: #ffffff;  
    padding: 30px 0;  
    text-align: center;  
}  

header h1 {  
    margin: 0;  
    font-size: 2.5em;  
}  

header h2 {  
    margin: 10px 0;  
    font-size: 1.5em;  
}  

.skills, .projects {  
    background: #ffffff;  
    padding: 20px;  
    margin: 20px 0;  
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

.skills h3, .projects h3 {  
    border-bottom: 2px solid #35424a;  
}  

ul {  
    list-style-type: none;  
    padding: 0;  
}  

li {  
    padding: 5px 0;  
}  

footer {  
    background: #35424a;  
    color: #ffffff;  
    text-align: center;  
    padding: 10px 0;  
    position: relative;  
    bottom: 0;  
    width: 100%;  
}
